/* --------------------- COLOR SCHEME --------------------- */
.bg_color1 {background-color: #6CF;}
.fg_color1 {color: #6CF;}

.bg_color2 {background-color: #09C;}
.fg_color2 {color: #09C;}

.bg_color3 {background-color: #069;}
.fg_color3 {color: #069;}

/* --------------------- FONTS --------------------- */
@font-face {
	font-family: "Poplar-Std";
	src: url("assets/font/PoplarStd.otf");
}

/* --------------------- LAYOUT ---------------------*/
body {
	margin: 0;
}

#container {
	width: 960px;
	font-size: 6px;	/* so that for a 1366px wide viewport this will be */
	 						/* around 6px */
}

/* --------------------- HEADER --------------------- */
#page_header {
	font-family: Poplar-Std, impact, Charcoal, sans-serif;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 6em;
	padding-right: 10em;
}

/* Page list */
#page_header #pageList {
	float: left;
	font-size: 12em;
}

#page_header ul {
	/* lists have an annoying spacing :S */
	margin: 0; 			/* default top-bottom spacing */
	padding: 0;			/* default <TAB> */
	list-style: none;	/* disable the bullets */
	line-height: 1em;
}

#page_header ul li {
	padding-bottom: 0.15em;	/* this and the padding:0 in #pageheader ul effectively */
							/* moves the spacing from 1/2top + 1/2bot to 1 bot */
}

/* Title and description */
#page_header #titledesc {
	float: right;
}

#page_header #title {
	font-size: 25em;
	line-height: 0.9em;
}

#page_header #desc {
	font-size: 8em;
	line-height: 1em;
}

/* Clear the floats */
#page_header::after {
	display: block;
	content: " ";
	clear: both;
}

.page_selected {
	text-transform: uppercase;
}

.page_selected::before {
	content: "> ";
}

.page_link {
	cursor: pointer;
}

/* --------------------- MAIN --------------------- */
hr {
	width: 95%;
	height: 2px;
	border: 0;
}

main {
	padding-top: 5em;
	padding-bottom: 3em;
	padding-left: 6em;
	padding-right: 6em;
}

/* --------------------- IFRAMES --------------------- */
iframe {
	border: 0;
	width: 100%;
}

/* --------------------- ARTICLES --------------------- */
article {
	font-size: 1vw;
}

article header {
	font-family: Poplar-Std, impact;
	font-size: 8em;
}

article p {
	font-family: "Times New Roman";
	font-size: 3em;
	margin: 0 0 3em 0;
}

.indent {
	text-indent: 2em;
}

article div {
	font-family: "Times New Roman";
	font-size: 3em;
	margin: 0 0 3em 0;
}

/* --------------------- LINKS --------------------- */
a {
	color: #069;	/* same as fg_color3 */
	text-decoration: none; /* disable the underline */
	font-weight: bold;
	cursor: pointer;
}

article header a {
	font-weight: normal;
}

a:hover {
	color: #6CF;	/* same as fg_color1 */
}

/* --------------------- FOOTER --------------------- */
#footer {
	padding-top: 1em;
	font-family: georgia;
	font-size: 3em;
	text-align: center;
}

/* --------------------- UYILITY CALSSES --------------------- */
.center_h {
	margin-left: auto;
	margin-right: auto;
}

.center_w {vertical-align: middle;}
