#logo{width:10%;}

#content {width: 90%;}

#pageContents {
	background: rgba(100,100,100,0.75);
	color: white;
	width: 100%;
	font-size: 25px;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#header {
	background: rgba(100,100,100,0.5);
	color: white;
	width: 100%;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#menu {
	display: table;
	width: 100%;
}

#menu > * {
	display: table-cell;
	float: left;
	width: 33%;
	height: 50px;
	font-size: 40px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menuarrow 		{color: white;bottom:0px;cursor:pointer;}
.menuarrow:hover{color: black;}

#lftarrowtext{font-size: 50%;}
#rgtarrowtext{font-size: 50%;}