$epsilon: 1px;

@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
	font-family: fontawesome;
	src: url(../../node_modules/font-awesome/fonts/fontawesome-webfont.svg),
		url(../../node_modules/font-awesome/fonts/fontawesome-webfont.woff),
		url(../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf);
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	margin: 0;
	background-color: #eee;
	font-size: 4vmin;

	#content {
		background-color: #fff;

		header {

			h1 {
				font-size: 2em;
				line-height: 2em;
				margin-bottom: 0;
			}

			p {
				color: #888;
				font-size: 1em;
				line-height: 1.25em;
				margin-top: 0;
			}

			#profile-pic {
				float: right;
				height: 8em;
			}

			margin-bottom: 3em;
		}

		section {
			line-height: 1.25em;

			ul {
				margin-top: 0;
				list-style: none;

				li::before {
					font-family: fontawesome;
					font-size: 0.75em;
					content: " ";
				}
			}
		}
	}

	a:link, a:visited {
		color: #e55e5e;
	}

	a:hover {
		color: #d68080;
	}

	a:active {
		color: #888;
	}
}
