body {
	#content {
		padding: 1px 1em 1em 1em;
		margin: 0 0 0 0;
		width: 100vw;

		header {
			p {
				width: 50vw;
			}

			#profile-pic {
				position: relative;
				right: 2.5em;
			}
		}

		section {
			width: 90vw;
		}
	}
}
