
#page_header {
	font-size: 0.70588vw;
}

#page_header #pageList {
	padding-top: 0.5em;
	font-size: 10em;
	float: none;
}

#page_header ul li {
	float: left;
	width: calc(100% / 3);
	text-align: center;
}

#page_header #titledesc {
	float: none;
	text-align: center;
}

main {
	font-size: 2vw;
}

#footer {
	padding-top: 2vw;
	font-size: 2vw;
}
