
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	margin: 0; width: 100vw;
	background-color: #e3e3e3;
}

d {
    border-bottom: 1px dotted #e55e5e;
    text-decoration: none;
}

.center-column {
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	padding: 1px 1em 1em 1em;
}

#https-warning {
	background-color: orange;
	cursor: pointer;
}

#content {
	background-color: #eee;
}

header {
	margin-top: 1em;
	margin-bottom: 2em;
}

header p {
	color: #888;
	line-height: 1.25em;
	margin: 0;
}

header #profile-pic {
	float: right;
	height: 8em;
	border-radius: 0.5em;
}

section {
	line-height: 1.5em;
}

section img {
	margin-left: 1em; margin-right: 1em;
	border: 1px solid black;
	max-height: 10em;
}

ul {
	margin-top: 0;
	list-style: none;
}

/* link colors */
a:link, a:visited {color: #e55e5e;}
a:hover {color: #d68080;}
a:active {color: #888;}

@media screen and (min-width: 720px) { /* desktop or comparable */
	.center-column {
		width: 720px;		/* sorry ultrawide users ;-; */
	}
}

@media screen and (max-width: 721px) {
	.center-column {
		width: 100vw;
	}
}
